<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="footer_frag (vm)">
        <footer class="footer">
            <div class="footer-content clearfix">
                <div class="footer-top clearfix">
                    <div class="company-name col-md-3">
                        <div class="footer-inner">
                            <h3>COMPANY NAME</h3>
                            <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                                amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                    <div class="product-extent col-md-3">
                        <div class="footer-inner">
                            <h3>PRODUCTS</h3>
                            <ul>
                                <li><a href="#">Điện thoại di động</a></li>
                                <li><a href="#">Máy tính bảng</a></li>
                                <li><a href="#">Máy tính xách tay</a></li>
                                <li><a href="#">Phụ kiện di động</a></li>
                                <li><a href="#">Máy tính cá nhân</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="useful-link col-md-3">
                        <div class="footer-inner">
                            <h3>USEFUL LINKS</h3>
                            <ul>
                                <li><a href="#">Tài khoản của bạn</a></li>
                                <li><a href="#">Trở thành đối tác</a></li>
                                <li><a href="#">Tỉ lệ & chất lượng feedback</a></li>
                                <li><a href="#">Trợ giúp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact col-md-3">
                        <div class="footer-inner">
                            <h3>CONTACT</h3>
                            <ul>
                                <li><a href="#"><i class="far fa-address-book"></i> 144 Xuân Thủy, Cầu Giấy, Hà Nội</a></li>
                                <li><a href="#"><i class="far fa-envelope"></i> vannhatttmmt@gmail.com</a></li>
                                <li><a href="tel:+841674546192"><i class="fas fa-phone-square"></i> +84 167 4546 192</a></li>
                                <li><a href="#"><i class="fas fa-fax"></i> +24 167 995 23</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="footer-bottom">
                    <div class="copyright col-md-3">
                        <p>Copyright <i class="far fa-copyright"></i> Emark Inc. All rights reserved</p>
                    </div>
                    <div class="policy col-md-4">
                        <a href="">Privacy Policy</a>
                        <a href="">Terms of Use</a>
                        <a href="">Legal</a>
                        <a href="">Site Map</a>
                    </div>
                    <div class="social-network col-md-5">
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>